*{
  margin:0;
  top:0;
  box-sizing: border-box;
}

body { 
  height: 100vh;
  margin: 0;
  font-family: courier;
  overflow: hidden;
}
main{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  text-align: center;
  background-color: #ceb59f;
  border-bottom: 1.5px solid #111010;
  box-shadow: 0px 10px 25px #7a7a7a;
  padding: 20px;
  z-index: 1;
}
select{
  height: 40px;
  width: 150px;
  text-align: center;
  font-size:15px;
  border:2px solid black;
  border-radius:20px;
  background-image:linear-gradient(to bottom, #8da7c0, rgb(95, 91, 91));
  cursor: pointer;
}
.slideshow{
  width:100%;
  flex: 1;
  background-color: #202020;
  
  position: relative
}
.slide{
  position: absolute;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  opacity: 0;
  transform: scale(1);
  transition: all .9s ease-out;
}
.slide:nth-last-child(2){
  opacity: 1;
  transform: scale(1.08);
}